@font-face {
  font-family: bodyFont;
  src: url("../font/MYRIAD PRO/MyriadPro-Regular.otf"); }
@font-face {
  font-family: serviceFont;
  src: url("../font/SNV JOURNEY BOLD.otf"); }
body {
  max-width: 1570px;
  margin: auto;
  font-family: bodyFont; }
  body a:hover {
    text-decoration: none; }
  body .form-group {
    position: relative; }
  body .row {
    margin: 0; }
  body ul {
    list-style-type: none; }
  body input[type=date].form-control {
    line-height: 12px !important; }
  body i {
    margin-right: 5px; }
  body .popup {
    display: none; }
    body .popup img {
      width: 100px;
      height: 230px; }
    body .popup i {
      transform: translate(-20px, -100px); }
  body .top-nav {
    width: 100%;
    background-color: #9e0509;
    height: 35px;
    color: #fff;
    font-size: 14px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    z-index: 999; }
    body .top-nav .list-top-nav {
      line-height: 35px;
      float: right; }
      body .top-nav .list-top-nav li {
        margin-left: 20px; }
        body .top-nav .list-top-nav li a {
          color: #fff; }
        body .top-nav .list-top-nav li i {
          margin-right: 5px; }
  body .nav-menu {
    width: 100%;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    position: fixed;
    z-index: 999;
    top: 30px; }
    body .nav-menu .logo {
      width: 450px;
      margin-top: -10px;
      float: left; }
      body .nav-menu .logo img {
        width: 100%; }
    body .nav-menu .main-menu {
      width: 850px;
      float: right;
      margin-top: 25px; }
      body .nav-menu .main-menu .chk-nav {
        display: none; }
      body .nav-menu .main-menu .label-menu {
        display: none; }
      body .nav-menu .main-menu ul {
        margin-top: 30px;
        float: right; }
        body .nav-menu .main-menu ul .desktop {
          display: none; }
        body .nav-menu .main-menu ul li {
          padding-left: 10px;
          padding-right: 10px; }
          body .nav-menu .main-menu ul li a {
            color: #030303;
            font-weight: bold; }
  body .main {
    margin-top: 165px; }
    body .main .sub-banner {
      width: 10%; }
      body .main .sub-banner img {
        width: 100%;
        border: 1px solid #9e0509; }
    body .main .left {
      float: left;
      position: fixed;
      left: 0;
      z-index: 999;
      top: 165px; }
    body .main .right {
      float: right;
      position: fixed;
      right: 0;
      z-index: 999;
      top: 165px; }
    body .main .inmain {
      float: left;
      width: 79%;
      margin: auto; }
      body .main .inmain .service .tic {
        width: 100px;
        background-color: #9e0509;
        padding-top: 5px;
        color: #fff;
        text-align: center;
        font-size: 20px;
        position: relative;
        z-index: 98;
        font-weight: bold; }
      body .main .inmain .service .main-service {
        border-top: 3px solid #9e0509;
        padding-top: 30px;
        position: relative;
        z-index: 97; }
        body .main .inmain .service .main-service .service-item {
          margin-bottom: 10px; }
          body .main .inmain .service .main-service .service-item img {
            width: 100%;
            height: 340px; }
          body .main .inmain .service .main-service .service-item .service-name {
            background: #fff;
            border: 1px solid #9e0509;
            width: 250px;
            margin: auto;
            font-size: 21px;
            font-weight: bold;
            text-align: center;
            color: #9e0509;
            margin-top: -20px;
            position: relative;
            z-index: 99;
            transform: skew(145deg); }
            body .main .inmain .service .main-service .service-item .service-name a {
              display: block;
              transform: skew(35deg);
              margin-bottom: 0;
              color: #9e0509; }
      body .main .inmain .branch p {
        margin-bottom: 0; }
      body .main .inmain .branch .tic {
        width: 300px;
        background-color: #9e0509;
        padding-top: 5px;
        color: #fff;
        text-align: center;
        font-size: 20px;
        position: relative;
        z-index: 98;
        font-weight: bold; }
      body .main .inmain .branch .main-branch {
        border-top: 3px solid #9e0509;
        padding-top: 30px; }
        body .main .inmain .branch .main-branch .item .main-item img {
          width: 100%;
          height: 250px;
          border: 1px solid #9e0509;
          border-radius: 2px; }
        body .main .inmain .branch .main-branch .item .main-item .address-branch .name-branch {
          font-weight: 900;
          font-size: 17px; }
        body .main .inmain .branch .main-branch .item .main-item .address-branch .main-address p i {
          color: #9e0509; }
  body .footer {
    width: 80%;
    margin: auto; }
    body .footer .hotline {
      width: 300px;
      padding: 5px;
      border: 2px solid #9e0509;
      border-radius: 5px;
      text-align: center;
      margin-right: 14px;
      position: fixed;
      right: 10px;
      bottom: 10px;
      z-index: 9999; }
      body .footer .hotline .main-hotline {
        background-color: #9e0509;
        color: #fff;
        font-size: 16px;
        border-radius: 5px; }
        body .footer .hotline .main-hotline span {
          font-size: 22px;
          font-weight: 900; }
    body .footer .main-footer {
      background-color: #6b1814;
      text-align: center;
      color: #fff;
      clear: both;
      padding: 14px;
      padding-bottom: 5px; }
      body .footer .main-footer .icon-footer {
        text-align: left;
        transform: translateY(-45px); }
        body .footer .main-footer .icon-footer .li2 {
          transform: translateY(-9px); }
        body .footer .main-footer .icon-footer li {
          background: #fff;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          padding: 5px;
          text-align: center; }
          body .footer .main-footer .icon-footer li img {
            width: 30px; }
          body .footer .main-footer .icon-footer li i {
            font-size: 20px;
            color: #6b1814;
            line-height: 35px;
            margin-left: 4px;
            transform: translateY(-2px); }

@media only screen and (max-width: 1340px) {
  body .nav-menu {
    padding-bottom: 8px; }
    body .nav-menu .logo {
      width: 350px; }
    body .nav-menu .main-menu {
      width: 800px;
      margin-top: 10px; }
      body .nav-menu .main-menu ul li a {
        font-size: 15px; }
  body .main {
    margin-top: 125px; }
    body .main .left, body .main .right {
      top: 125px; } }
@media only screen and (max-width: 1281px) {
  body .main .inmain .service .main-service .service-item img {
    height: 300px; } }
@media only screen and (max-width: 1190px) {
  body .nav-menu .logo, body .nav-menu .main-menu {
    float: none;
    margin: auto; }
  body .main {
    margin-top: 205px; }
    body .main .left, body .main .right {
      top: 205px; } }
@media only screen and (max-width: 1025px) {
  body .main .inmain .service .main-service .service-item img {
    height: 220px; } }
@media only screen and (max-width: 769px) {
  body .top-nav {
    display: none; }
  body .nav-menu {
    top: 0; }
    body .nav-menu .logo {
      float: right; }
    body .nav-menu .main-menu {
      position: relative;
      z-index: 100;
      width: 100%; }
      body .nav-menu .main-menu .list-nav-menu {
        float: none;
        width: 105%;
        margin-left: -120%;
        margin-top: 10px;
        height: 350px;
        transition: all .5s ease;
        background-color: #9e0509;
        position: absolute; }
        body .nav-menu .main-menu .list-nav-menu .desktop {
          display: block; }
        body .nav-menu .main-menu .list-nav-menu li {
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          position: relative;
          display: block;
          padding-top: 0;
          padding-bottom: 0;
          text-align: center; }
          body .nav-menu .main-menu .list-nav-menu li a {
            color: #fff;
            font-size: 10px !important; }
      body .nav-menu .main-menu .label-menu {
        display: block;
        font-size: 1.25rem;
        text-decoration: none;
        color: #E5E5E5;
        padding: 1rem 1rem 1rem 3rem;
        cursor: pointer;
        transition: all .3s ease;
        border-left: 4px solid rgba(255, 255, 255, 0);
        width: 10%;
        margin-top: 20px; }
        body .nav-menu .main-menu .label-menu:hover {
          color: #FFB503;
          border-left: 4px solid #ffbc1d; }
      body .nav-menu .main-menu label[for="btn-navbar"] {
        padding: .5rem 1rem .5rem 1rem;
        font-size: 2rem;
        text-align: left;
        color: #252525; }
        body .nav-menu .main-menu label[for="btn-navbar"]:hover {
          color: #E5E5E5;
          border-left: 4px solid rgba(0, 0, 0, 0); }
      body .nav-menu .main-menu .chk-nav {
        display: none; }
      body .nav-menu .main-menu .chk-nav:checked ~ .list-nav-menu {
        margin-left: -2%; }
  body .main {
    margin-top: 105px; }
    body .main .sub-banner {
      display: none; }
    body .main .inmain {
      width: 100%; }
      body .main .inmain .branch .main-branch .item .main-item img {
        height: 150px; }
  body .footer {
    width: 100%; }
    body .footer .main-footer .icon-footer {
      transform: translateY(0);
      text-align: center; } }
@media only screen and (max-width: 576px) {
  body .main .inmain .book .header-book .main-header-book p {
    font-size: 13px; }
  body .main .inmain .book .left-book .main-left-book {
    height: 450px; }
    body .main .inmain .book .left-book .main-left-book .left-item1 {
      padding-right: 0;
      padding-left: 0; }
    body .main .inmain .book .left-book .main-left-book .left-item2 {
      padding-left: 0;
      padding-right: 0; }
  body .main .inmain .book .right-book .main-right-book {
    height: 300px; }
  body .main .inmain .tut-book .tut-book-item {
    margin-top: 20px; }
  body .main .inmain .service .main-service .service-item img {
    height: 300px; }
  body .main .inmain .branch .main-branch .item .main-item img {
    height: 350px; } }
@media only screen and (max-width: 481px) {
  body .main .inmain .branch .main-branch .item .main-item img {
    height: 250px; }
  body .footer .hotline {
    width: 190px; }
    body .footer .hotline .main-hotline {
      font-size: 12px; }
      body .footer .hotline .main-hotline i {
        font-size: 14px; }
      body .footer .hotline .main-hotline span {
        font-size: 13px; } }
@media only screen and (max-width: 420px) {
  body .popup {
    display: block;
    position: fixed;
    right: 0;
    bottom: 50px;
    z-index: 999; }
  body .nav-menu {
    padding-bottom: 0; }
    body .nav-menu .logo {
      width: 240px; }
  body .main {
    margin-top: 90px; }
    body .main .inmain .service .main-service .service-item img {
      height: 220px; } }
@media only screen and (max-width: 376px) {
  body .main .book .header-book .main-header-book p {
    font-size: 10px; }
  body .main .book .right-book .main-right-book .form2 input {
    width: 50% !important; }
  body .main .service .main-service .service-item img {
    height: 200px !important; }
  body .main .service .main-service .service-item .service-name {
    width: 80% !important;
    font-size: 16px !important; }
  body .main .branch .main-branch .item .main-item img {
    height: 200px !important; } }

/*# sourceMappingURL=block.css.map */
